@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model List<string?>

@foreach(var error in Model)
{
    <h1>@error</h1>
}

