@page "{filter?}"//添加这个才能使用route路由参数，这里的路由参数也代表了相当于控制器的路由参数
@model WebApp.Pages.Employees.IndexModel
@{
	ViewBag.Title = "Employee";
}

@section title_section{
	<h1>Employee</h1>
}

<partial name="_SearchBar" />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Salary</th>
			<th>Department</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="Employee-List">
	</tbody>
</table>

<a class="btn btn-primary" href="/Employees/Create">Add</a>


@section scripts{
	<script>

		ShowSearchResult();

		async function ShowSearchResult()
		{
			const ListDiv = document.querySelector("#Employee-List");
			const filter = document.getElementById('filterInput').value;
			var response = await fetch(`/Employees/index/${filter}?handler=SearchEmployees`);
			console.log(filter);
			var html = await response.text();
			ListDiv.innerHTML = html;
		}
	</script>
}

