
<div class="input-group mb-3">
    <span class="input-group-text">@@</span>
    <div class="form-floating flex-grow-1">
        <input type="text" id="filterInput" class="form-control" name="filter">
        <label for="filterInput">搜索</label>
    </div>
    <button class="btn btn-primary" onclick="ShowSearchResult()">Search</button>
</div>